name: Devops Project

on:
    push:
     branches:
      - main

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
    - uses: actions/checkout@v4

    - name:  USing NOde
      uses: actions/setup-node@v4

    - name: Npm install
      run : npm install 
      working-directory: ./devops-azure

    - name: Npm build
      run : npm run build
      working-directory: ./devops-azure
    
    - name: Npm test
      run : npm test
      working-directory: ./devops-azure

    - name: docker login
      run : echo ${{secrets.docker_password}} | docker login -u ${{secrets.docker_username}} --password-stdin

    - name: Docker Image Tag
      run : echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Docker build 
      run : docker build -t ${{secrets.docker_username}}/devops-azure:$TAG .
      working-directory: ./devops-azure

    - name: Docker Push
      run : docker push ${{secrets.docker_username}}/devops-azure:$TAG


        
        
        